<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <form action="/welcome" id="loginForm" method="post">
        <input type="text" name="id" placeholder="ID" />
        <button type="submit" name="Login">Login</button>
    </form>
    <div class="idData">
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.getElementById("loginForm").addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData();
        const id = e.target.id.value;
        if(!id) {
            return alert('아이디를 입력하십시오');
        }
        formData.append('id', id);
        await axios.post('/welcome', {
            id: formData.get('id'),
        })
        .catch((error) => {
            console.log(error);
        });
    });
</script>
</html>